@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
    color: white;
}

/* navbar section */

.btn{
    padding: 12px 40px 16px;
    background: linear-gradient(45deg,  #F7E93F, #95066a, #9118e8);
    border: none;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 1rem;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    /* border: 1px solid white; */
}

.btn-two{
    border: 1px solid #00FF88;
    border-radius: 30px;
    color: #00FF88;
    background: transparent;
    padding: 12px 20px 12px 25px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.new-btn{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 100px;
    
}
.new-btn button{
    margin-top: -390px;
    padding: 8px 16px;
    margin-right: -160px;
    border-radius: 1000px;
    font-size: 1.25rem;
    color: black;
    background-color: #00FF88;
    border: none;
    font-weight: 600;
}



.nav-main{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
nav> span{
    margin-left: 60px;
    display: none;
}

.nav-logo-span{
    background: linear-gradient(45deg, #FB09B4, #9100f8, #F7E93F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: white;
}

/* hero section */
.hero-section{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-circle.png), url(./assets/hero-bg.png); 
    background-position: center 70px, center 10px;
    background-repeat: no-repeat, no-repeat;
    background-size:360px 360px, 100% 100%;
  
}

    


.image-container{
    width: 576px;
    height: 600px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-repeat: no-repeat;
}

.image-container img{
    padding-bottom: 88px;
}

.hero-text{
    font-size: 3.75rem;
    font-weight: 900;
    padding-top: 40px;
}
/* banner section */

.banner-content{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;

}

.banner-heading{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-paragraph{
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgb(194, 184, 184);
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-paragraph{
    color: #00FF88;
    padding: 10px 0;
}

.section-grid h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.section-grid{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 20px;
    background-color: #230E3D;
}
   
.section-grid h1{
    margin-bottom: 50px;
    text-align: center;
}

.grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "headphone  mobile    mobile    mobile"
    "headphone  community community community"
    "exclusive  exclusive exclusive resource";
}
.headphone-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.headphone-layout{
    grid-area: headphone;
}

.mobile-layout{
    grid-area: mobile;
}

.community-layout{
    grid-area: community;
}

.exclusive-layout{
    grid-area: exclusive;
}

.resource-layout{
    grid-area: resource;
}

.card{
    background-color: rgba(53, 17, 101, 0.4);
    border: 1px solid #2d1b4d;
    width: 100%;
    padding: 30px;
    border-radius: 50px;
    color: white;

}
.card img{
    width: 40px;
    margin-bottom: 12px;
}
.card h2{
    font-size: 1.5rem;
    margin-bottom: 10px;}

.card p{
    color: rgb(174, 171, 171);
    line-height: 1.5;
}

/* video section */
.podcast-section{
    padding: 80px 20px;
    background-color: #1A0B2E;
    text-align: center;
    color: white;
}
.podcast-section h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.episode-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.episode-card{
    background-color: #250D44;
    border-radius: 20px;
    width: 330px;
    text-align: left;
    border: 1px solid #2d1b4d;
    transition: transform 0.3s ease;
}

.episode-card:hover{
    transform: scale(1.05);
}

/* youtube video */

.video-container{
    position: relative;
    padding-bottom: 60%;
    height: 0;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.card-content{
    padding: 10px;
}

.card-content h3{
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: white;
}
.card-content p{
    font-size: 1rem;
    color: rgb(192, 178, 178);
    line-height: 1.5;
    margin-bottom: 15px;
} 

.time-content{
    display: flex;
    align-items: center;
    color: #00FF88;
    font-size: 1rem;
    gap: 5px;

}
/* host section */

.host-h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.host-section{
    padding: 30px 20px;
    padding-bottom: 50px;
    background-color: #1A0B2E;
    text-align: center;
    color: white;
}

.host-container{
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 30px;

}

.host-content{
    text-align: left;
}

.host-name{
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


.host-content p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: rgb(200, 183, 183);
}

.social-links{
    display: flex;
    gap: 15px;
}

.social-links a img{
  width: 23px;
  height: 23px;
  transition: 0.3s;
  opacity: 0.8;
  
}

.social-links a img:hover{
    transform: scale(1.1);
    opacity: 1;
}

/* Footer Section */

.footer-section{
    background-color: #230E3D;
    padding: 100px 20px;
    text-align: center;
    color: white;
    position: relative;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.footer-logo{

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-link{
    display: flex;
    justify-content: center;
    color: rgb(195, 184, 184);
    align-items: center;
    gap: 40px;
    margin:30px auto 50px;
    width: fit-content;
    padding: 0;
}

.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.copyright-content{
    color: rgb(184, 171, 171);
}


/* responsive */
@media screen and (max-width:576px){
    .btn{
        display: none;
        align-items: right;
    }
    .nav-menu{
        display: none;
    
    }
    nav> span{
    display: inline;
}

.nav-main{
    padding-left: 20px;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-circle.png), url(./assets/hero-bg.png); 
    background-position: center 140px, center;
    background-repeat: no-repeat, no-repeat;
    background-size:200px 200px, 100% 100%;
  
}
.image-container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}
.image-container img{
    width: 19%;
    display: block;
    margin-left: 151px;
    margin-right: 27px;
    margin-bottom: 20px;
}

.new-btn button{
    margin-top: -214px;
    margin-right: -20px;
    font-size: .8rem;
    
}
.hero-text{
    font-size: 2.5rem;
}
.hero-paragraph{
    text-align: center;
    padding: 0 20px;
    padding-top: 10px;
}

section .btn{
    display: inline;
    padding: 12px;
}

.btn-two{
    padding: 10px;
}

.banner-content{
    width: 100%;
    max-width: 1600px;
    padding: 20px 20px;
    margin: 0 auto;
    text-align: center;

}

.banner-heading{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 50px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "headphone" 
    "mobile"
    "community"
    "exclusive" 
    "resource";
    gap: 15px; 
}
.section-grid{
    margin-top: 15px;
    padding: 10px 15px;
}

.section-grid h1{
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding: 10px;
}

.card{
    border-radius: 20px;
}

.podcast-section h1{
    font-size: 2rem;
    margin-bottom: 15px;
}
.podcast-section{
    padding: 30px 10px;
    background-color: #1A0B2E;
    text-align: center;
    color: white;
}

.host-section{
    padding: 30px 20px;
}
.host-section h1{
    font-size: 1.8rem;
}
.host-container{
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    text-align: center;
}

.host-name{
    font-size: 1.5rem;
    text-align: center;
}


.host-content p{
    text-align: center;
}

.social-links a img{
  width: 18px;
  height: 18px;
}

.social-links{
    justify-content: center;
}

.footer-link{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding-top: 20px;
}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.footer-item img{
    width: 18px;
    height: auto;
}


.footer-section{
    padding-top: 20px;
    padding-bottom: 50px;
    background-size:auto 170px;
    background-position: contain;
    background-repeat: no-repeat;
}

.footer-logo{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 30px;
}


.copyright-content{
    font-size: 1rem;
    padding-top: 40px;   

}


}